.collection {
  &__header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__labels {
    padding-left: 30px;
  }

  &__details {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__fields {
    position: relative;
    list-style: none;

    &__header {
      padding-bottom: 10px;
    }

    .input__fields {
      display: flex;
      gap: 10px;
    }

    &__button {
      margin-top: 10px;
      margin-bottom: 15px;
      margin-left: 50px;
    }

    .draggable-field {
      position: relative;
    }
  }
}
