input,
select,
textarea {
  padding: 8px 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 200ms;

  &:focus {
    outline: none;
    border-bottom-color: var(--primary-color);
  }
}

label,
.label {
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 12px;
}

.text--disabled {
  opacity: 0.5;
}

.input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  &__input-wrap {
    display: flex;
    gap: 5px;
  }

  &__button-wrap {
    display: flex;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__fields {
    display: grid;
    gap: 15px;
    align-items: center;
    width: 100%;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  &__checkbox-field {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.fields {
  &__header {
    display: flex;
    gap: 10px;

    label {
      width: 100%;
    }
  }
}

.draggable-field {
  &__icon {
    cursor: move;
    width: 20px;
    text-align: center;
  }
  &__inner {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
  }
}

.subfields {
  position: relative;

  &__wrapper {
    padding-top: 10px;
    padding-left: 35px;
  }

  &::before {
    content: "";
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 1px;
    top: -20px;
    bottom: 0;
  }

  .input__fields {
    position: relative;

    &::before {
      content: "";
      height: 1px;
      width: 10px;
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      left: -18px;
      top: 15px;
    }
  }

  &__header {
    padding-top: 10px;
    padding-left: 40px;
  }
}
