.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;

  @media (min-width: 1025px) {
    top: 0;
    position: sticky;
    z-index: 10;
  }

  &__title {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;

    a {
      color: var(--text-color);

      &::after {
        background-color: transparent;
      }

      &:hover,
      &.router-link-active {
        color: var(--primary-color);

        &::after {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
