h1,
h2,
h3,
h4,
h5,
h6,
strong {
  margin: 0;
  color: var(--title-color);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}
h5,h6,h7 {
  text-transform: uppercase;
}